In [ ]:
#import os
#os.listdir()
from city import *

GEO_DEFINITIONS = {
    'phi': [{'county': 'Philadelphia', 'state': 'Pennsylvania'}],
    'chi': [{'county': 'Cook', 'state': 'Illinois'}],
    'sf': [{'county': 'San Francisco','state': 'California'}], 
    'sfba': [{'county': 'San Francisco','state': 'California'}, {'county': 'Contra Costa','state': 'California'}, 
            {'county': 'Alameda','state': 'California'}, {'county': 'San Mateo', 'state': 'California'},
            {'county': 'Santa Clara', 'state': 'California'}],
    'eastbay': [{'county': 'Contra Costa','state': 'California'}, {'county': 'Alameda','state': 'California'}],
    'nyc': [{'county': 'King', 'state': 'New York'}, {'county': 'Queens', 'state': 'New York'}, 
            {'county': 'New York', 'state': 'New York'}, {'county': 'Bronx', 'state': 'New York'}]
}

INFRA_TYPES = {
    'bridge': {'bridge':['yes','viaduct']},
    'highway': {'highway': ['motorway','motorway_link','motorway_junctions']},
    'coastline': {'natural':'coastline'},
    'water': {'natural':'water'}
}



# Create City
c_phi = City('Philadelphia',GEO_DEFINITIONS['phi'], '../data/replica_exports/replica-phi_sat_spring_2024-01_14_25-trips_dataset.csv')

# Add Infrastructure
c_phi.load_infrastructure(INFRA_TYPES)

# Split
c_phi.split_infra_pipeline()

# Assign BGs to Zones
c_phi.assign_bg2zones()

# Aand export it
c_phi.export_final_dataset()

Warning! coastline: No matching features. Check query location, tags, and log.

/Users/jon/anaconda3/envs/cyp204d/lib/python3.9/site-packages/geopandas/geodataframe.py:1819: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  super().__setitem__(key, value)

In [7]:
c_phi.final_dataset.groupby(zone_same)

,activity_id,O_bg_fips,D_bg_fips,primary_mode,O_bg_lng,O_bg_lat,D_bg_lat,D_bg_lng,dist_m,zoneID_o,zoneID_d,zone_same
0,412690593163544293,421010002001,421010001011,private_auto,-75.1561,39.9554,39.9518,-75.1502,827.194860,14,14,True
1,14086516277722858880,421010002001,421010001012,walking,-75.1561,39.9554,39.9500,-75.1500,1136.624059,14,14,True
2,7103169478301938772,421010002001,421010001014,walking,-75.1561,39.9554,39.9503,-75.1456,1245.092542,14,14,True
3,4176995046867281827,421010002001,421010001014,private_auto,-75.1561,39.9554,39.9503,-75.1456,1307.280143,14,14,True
4,1413000380345929783,421010002001,421010001023,private_auto,-75.1561,39.9554,39.9533,-75.1440,1919.985998,14,14,True
...,...,...,...,...,...,...,...,...,...,...,...,...
4373963,14801556671112186703,421019893002,421019893002,commercial,-75.1181,40.0073,40.0073,-75.1181,359.679873,9,9,True
4373964,15809374473015086058,421019893002,421019893002,other_travel_mode,-75.1181,40.0073,40.0073,-75.1181,0.000000,9,9,True
4373965,7090153639574779221,421019893002,421019893002,commercial,-75.1181,40.0073,40.0073,-75.1181,0.000000,9,9,True
4373966,9367569926862519326,421019893002,421019893002,walking,-75.1181,40.0073,40.0073,-75.1181,148.905764,9,9,True
4373967,3260374487004730485,421019893002,421019893002,other_travel_mode,-75.1181,40.0073,40.0073,-75.1181,0.000000,9,9,True

In [ ]:
# Create City
# c_phi = City('Philadelphia',GEO_DEFINITIONS['phi'], '../data/replica_exports/replica-phi_sat_spring_2024-01_14_25-trips_dataset.csv')
c_sfba = City('SF Bay Area',GEO_DEFINITIONS['sfba'], '../data/replica_exports/replica-ca_sat_spring_2024-01_14_25-trips_dataset.csv')
c_nyc = City('New York City',GEO_DEFINITIONS['nyc'], '../data/replica_exports/replica-ny_sat_spring_2024-01_14_25-trips_dataset.csv')
c_chi = City('Chicago',GEO_DEFINITIONS['chi'], '../data/replica_exports/replica-chi_sat_spring_2024-01_14_25-trips_dataset.csv')

# Add Infrastructure
# c_phi.load_infrastructure(INFRA_TYPES)
c_sfba.load_infrastructure(INFRA_TYPES)
c_nyc.load_infrastructure(INFRA_TYPES)
c_chi.load_infrastructure(INFRA_TYPES)

# Split
# c_phi.split_infra_pipeline()
c_sfba.split_infra_pipeline()
c_nyc.split_infra_pipeline()
c_chi.split_infra_pipeline()

# Assign BGs to Zones
# c_phi.assign_bg2zones()
c_sfba.assign_bg2zones()
c_nyc.assign_bg2zones()
c_chi.assign_bg2zones()

# Assign BGs to Zones
# c_phi.assign_bg2zones()
c_sfba.export_final_dataset()
c_nyc.export_final_dataset()
c_chi.export_final_dataset()